@model UniversitySystem2.Models.Teacher
@{
    ViewBag.Title = "Удалить преподавателя";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="card mt-4">
    <div class="card-header bg-danger text-white">Удалить преподавателя</div>
    <div class="card-body">
        <form method="post">
            <input type="hidden" name="Id" value="@Model.Id" />
            <p>Вы уверены, что хотите удалить преподавателя <b>@Model.FullName</b>?</p>
            <button class="btn btn-danger" type="submit">Удалить</button>
            <a class="btn btn-secondary ms-2" href="/Teachers/Index">Отмена</a>
        </form>
    </div>
</div>
