@model UniversitySystem2.Models.Teacher
@{
    ViewBag.Title = "Детали преподавателя";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="card mt-4">
    <div class="card-header">Детали преподавателя</div>
    <div class="card-body">
        <form>
            <div class="mb-3">
                <label class="form-label">ФИО</label>
                <input class="form-control" type="text" value="@Model.FullName" disabled />
            </div>
            <div class="mb-3">
                <label class="form-label">Кафедра</label>
                <input class="form-control" type="text" value="@Model.Department" disabled />
            </div>
            <a class="btn btn-secondary" href="/Teachers/Index">Назад к списку</a>
        </form>
    </div>
</div>
